.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #873692;
	color: white;
	padding: 10px 20px;
}

.planit {
	font-size: 24px;
	margin: 0;
}

.link {
	color: white;
	text-decoration: none;
	font-size: 18px;
}

.link:hover {
	text-decoration: underline;
}
.buttons {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
}
.button {
	border: 2px solid white;
	width: 70px;
	border-radius: 5px;
	background-color: rgb(129, 129, 165);
}
